  <div fxFlexFill fxLayoutAlign="center center" *ngIf="loading">
    <mat-card>
      <mat-card-content>
        <mat-progress-spinner
          class="example-margin"
          [color]="'primary'"
          mode="indeterminate"
          diameter="100">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="retrait" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="lesPersonnes && lesPersonnes.length != 0">
    <h1>{{ lesPersonnes.length }} personnes ont joué à Ninja-Warrior</h1>

    <table class="shadow" mat-table [dataSource]="lesPersonnes">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nom Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <!-- Prénom Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom</th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>

       Score Column
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score</th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>

      <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef> Admin</th>
        <td mat-cell *matCellDef="let element"> {{element.user.is_admin ? "Oui": "Non"}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRow(row)"
          [ngClass]="{hovered: row.hovered, highlighted: isSelected(row)}" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></tr>
    </table>
  </div>
