<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="home-card" id="black">
    <mat-card-header fxLayout="row" fxLayoutAlign="center">
      <div mat-card-avatar><img mat-card-image [src]="imageIcon" alt="Photo de soumouraï"></div>
      <mat-card-title>Ninja-warrior</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image" alt="Photo de samouraï">
    <mat-card-content>
      <p id="speetch">
        Dans ce jeu, vous êtes un ninja pour venger votre bien aimée qui se fait sauvagement massacrée par des mercenaires.
        <br>Parce que vous n'arrivez pas à accepter sa mort, vous cherchez désespérément un moyen de la ramener à la vie et de vous venger des mercenaires.
        <br>Pour se faire, vous vous rendez dans le château où ces brigands demeurent.
      </p>
    </mat-card-content>
  </mat-card>
</div>

